# Logs
logs
results
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules
jspm_packages
bower_components

# Optional npm cache directory
.npm

# Compiled files (from babel and webpack)
dist
test
test/dist

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Benchmarking
benchmarks/graphs

# WebStorm
.idea
*.iml

# Environment Files
env.*
